/* Originally copied from UCD-VIRT-FSF-PT-03-2023-U-LOLC\02-Advanced-CSS\01-Activities\Day 2\11-Ins_CSS-Resets\assets\css\reset.css */

/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Makes links match the rest of the text unless otherwise specified */
a:any-link {
  color: inherit;
  text-decoration: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}
