:root {
  /* Define variables for the margin and padding for
  the cards, and how they will change when hovered,
  so the sum is still the same. */
  --card-margin: 10px ;
  --card-padding: 5px ;
  --hover-difference: 3px;
  --card-width: 300px ; 
  /* Define various colors used throughout the page */
  --header-text: darkslategray ;
  --nav-bkgd: aliceblue ;
  --nav-hover-bkgd: lightblue ;
  --border: midnightblue ;
  --footer-bkgd: peru ;
  --footer-text: slateblue ;
}

/*
.debugbox {
  position: fixed ;
  bottom: 0 ;
  right: 0 ;
  padding: 5px ;
  border: solid darkgray 2px;
  background-color: aquamarine;
}
*/

header {
  position: relative ;
  width: 100% ;
  height: 200px ;
  background-image: url("../images/vector6blue.png");
  background-position: right;
  background-size: 900px;
  background-repeat: no-repeat;
  color: var(--header-text);
}

.name-and-pic{
  margin-top: 15px;
  margin-right: 20px;
  float: right ;
  display: flex ;
}

h1 {
  font-size: 48px ;
  margin-right: 30px;
}

.name-and-pic img {
  height: 150px ;
  border: solid var(--border) 5px;
  border-radius: 20px;
}

nav {
  background-color: var(--nav-bkgd);
  position: absolute ;
  bottom: 5px ;
  display: flex ;
  flex-wrap: wrap ;
  font-size: 30px;
}

nav a {
  padding: 10px ;
  width: 400px ;
}

nav a:hover {
  background-color: var(--nav-hover-bkgd) ;
}

main {
  margin: 0px 20px ;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}



.projects h2 {
  display: block;
  margin-left: 30 px;
}

.flex {
  display: flex;
  width: 100% ;
  flex-wrap: wrap ;
  margin: 10px auto ;
}

.card {
  flex: 1 1 auto ;
  max-width: var(--card-width) ;
  border: solid var(--border) 2px ;
  padding: var(--card-padding) ;
  margin: var(--card-margin) ;
}

.card:hover {
  box-shadow: 6px 3px 3px gray; 
  padding: calc(var(--card-padding) + var(--hover-difference));
  margin: calc(var(--card-margin) - var(--hover-difference));
  max-width: calc(var(--card-width) + var(--hover-difference));
}


.card img {
  width: 100% ;
  height: 100px;
  object-fit: cover;
  object-position: top;
}

footer {
  background: var(--footer-bkgd);
  color: var(--footer-text) ;
  padding: 30px ;
  font-size: 22px;
  line-height: 1.5;
}

.logo {
  height: 21px ;
}

/*
#debug:checked ~ nav {
  background: deepskyblue;
}

#debug:checked ~ a {
  background: peru ;
}

#debug:checked ~ h1 {
  background: blueviolet;
}

#debug:checked ~ section {
  background: lightpink ;
}

#debug:checked ~ .flex {
  background: lightseagreen ;
}

#debug:checked ~ .flex {
  background: goldenrod ;
}

#debug:checked ~ h2 {
  background: mediumpurple ;
}

#debug:checked ~ p {
  background: olivedrab ;
}
*/